@font-face {
    font-family: "iconfont";
    /* Project id 5025456 */
    src: url('//at.alicdn.com/t/c/font_5025456_u7a6n16dhsm.woff2?t=1759118193943') format('woff2'),
        url('//at.alicdn.com/t/c/font_5025456_u7a6n16dhsm.woff?t=1759118193943') format('woff'),
        url('//at.alicdn.com/t/c/font_5025456_u7a6n16dhsm.ttf?t=1759118193943') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
    content: "\e600";
}

.icon-icon:before {
    content: "\e661";
}

.icon-gengduo:before {
    content: "\e656";
}

.icon-gonggao:before {
    content: "\e62d";
}

.icon-gonggao1:before {
    content: "\e607";
}

.icon-a-039_dianzan4:before {
    content: "\e6d2";
}